.button-design{
    background-color: white;
    padding: 23px;
    margin :10px;
    border : 1px solid black;
    font-weight: 800;
    border-radius: 3px;
    font-size: 15px;
    
}
.button-design:hover{
    background-color: rgba(0, 0, 0, 0.507);
}